* { padding: 0; margin: 0 auto;}

body {background-color: #000; overflow: hidden;}

@font-face {
	font-family: impact;
	src: url('./impactreg.eot');
	src: local('impactreg'), url('./impactreg.woff') format('woff'), url('./impactreg.ttf') format('truetype');
}

.logo {
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 30vw;
  font-family: impact;
  font-weight: bold;
  font-style: italic;
}

.logo::before, .logo::after {
  content: attr(data-logo);
  position: absolute;
  z-index: -1;
  left: 0;
	text-align: center;
	width: 100%;
}

.logo::before {
  color: red;
  animation: rotate 5s infinite;
  animation-timing-function: linear;
}

.logo::after {
  color: black;
  animation: rotate-shadow 5s infinite ;
  animation-timing-function: linear;
}

@keyframes rotate {
  0%   {left:-2.5%; top:-2.5%;}
  25%  {left:2.5%; top:-2.5%;}
  50%  {left:2.5%; top:2.5%;}
  75%  {left:-2.5%; top:2.5%;}
  100% {left:-2.5%; top:-2.5%;}
}
@keyframes rotate-shadow {
  0%   {left:2.5%; top:2.5%;}
  25%  {left:-2.5%; top:2.5%;}
  50%  {left:-2.5%; top:-2.5%;}
  75%  {left:2.5%; top:-2.5%;}
  100% {left:2.5%; top:2.5%;}
}
